/* Footer.module.css */
.footer {
  text-align: center;
  padding: 1rem;
  background-color:white; 
  color: #aaa;
  font-size: 0.9rem;
  user-select: none;
  margin-top: auto;
  display: flex;
  flex-direction: column;
}
